@font-face {
    font-family: 'timeburner';
    src: url('../fonts/timeburner.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'regencie';
    src: url('../fonts/Regencie.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'myriad';
    src: url('../fonts/myriad.otf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}

@media only screen and (orientation:landscape) and (min-width : 321px) and (max-width: 749px){

  .wrap {

    width: 60%;

  }
  .navbar-brand > img {
     width: 35% !important;
  }
  .screen-xs .slick-dots {
    bottom: 15px !important;
  }

  .screen-xs h2 {
    top: 5px !important;
    width: 75% !important;
    }

  .screen-xs p {
      top: 135px !important;
      width: 75% !important;
    }
}

#copyright {
    font-size: 1em;
}

#tawkchat-maximized-wrapper {
    height: 94%;
}
html,
body {
    height: 100%;
    font-family: ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif
}
h1,h2,h3{
  font-family: timeburner;
}
p{
  font-size: 1.5em;
  color: gray;
}
.wrap {
    height: 90%;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
.navbar {
    min-height: 15%;
}
.navbar-inverse {
    background-color: #FFF;
    border-bottom : none /* 3px solid  #6b8d98  */;
    box-shadow: 0px 0px 3px rgb(226, 226, 226);
}
.active a{
  background-color: #6b8d98 !important;
}
.body-height{
  height: 75%;
  width: 100%;
  position: absolute;
  top:15%;
  overflow-y: auto;
}
.screen,.screen-xs,.full-height{
  position: relative;
  height: 100%;
}
.full-width{
  width:100%;
  }
.site-page{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
h2{
  background-color: #f3f3f3;
  padding: 30px;
}

.screen h2 {
    position: absolute;
    top: 95px;
    background-color: white;
    padding: 30px;
    border-radius: 3px;
    width: 50%;
    left: 20px;
    opacity: .9;
    box-shadow: -2px 2px 5px gray;
    font-size: 2.5em;
}
.screen-xs h2 {
    position: absolute;
    top: 30px;
    background-color: white;
    padding: 30px;
    border-radius: 3px;
    width: 90%;
    left: 20px;
    opacity: .9;
    box-shadow: -2px 2px 5px gray;
    font-size: 2.5em;
}
.screen p {
    position: absolute;
    top: 230px;
    background-color: white;
    padding: 30px;
    border-radius: 3px;
    width: 50%;
    left: 20px;
    opacity: .9;
    box-shadow: -2px 2px 5px gray;

}
.screen-xs p {
    position: absolute;
    top: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    width: 60%;
    left: 20px;
    opacity: .9;
    box-shadow: -2px 2px 5px gray;
    font-size: 1.3em;

}
.slick-list{
  height: 100% !important;
  width: 100%;
}
.images{
  width: 100%;
}

.slick-dots {
    bottom: 10px;
    width: 170px;
    background-color: white;
    border-radius: 100%;
    height: 170px;
    right: 10px;
    opacity: .9;
    box-shadow: -2px 2px 5px gray;
}
.screen-xs .slick-dots {
    bottom: 33px;
    width: 80px;
    background-color: white;
    border-radius: 5px;
    height: 215px;
    right: 17px;
    opacity: .9;
    box-shadow: -2px 2px 5px gray;
}
.slick-dots li{
  background-image: url("../images/services_icons.png");
  width: 50px;
  height: 50px;
  background-position: -10px -12px;
  border-radius: 100%;
  background-repeat: no-repeat;
  opacity: .6;
  position:absolute;
}
.screen-xs .slick-dots li{
  background-image: url("../images/services_icons.png");
  width: 50px;
  height: 50px;
  left:0px !important;
  top:0px !important;
  background-position: -10px -12px;
  border-radius: 3px;
  background-repeat: no-repeat;
  opacity: .6;
  position:relative;

 }
.slick-active{
  opacity: 1 !important;
}
.slick-dots li:nth-child(1){
  left:8px;
  top:60px;

}
.slick-dots li:nth-child(2){
  left:55px;
  top:8px;
  background-position: -10px -86px;

 }
.slick-dots li:nth-child(3){
  right:8px;
  top:60px;
  background-position: -11px -172px;

}
.slick-dots li:nth-child(4){
  left:55px;
  bottom:8px;
  background-position: -10px -240px;

}
.slick-dots li:nth-child(5){
  left:0px;
  top:48px;
  background-position: -270px;

}

.slick-dots li button{
  display:none !important;
}
.carItem{
  position: relative;
}
.sep {
    text-align: center;
    font-size: 2em;
    margin: 30px;
}
.footer {
    height: 10%;
    background-color: #f5f5f5;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-lang{
  background-color: whitesmoke;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}
.interactive-box{
    text-align: center;
    overflow: hidden;
    transition: border .5s;
    border: 1px solid white;
}
.interactive-box:hover{
    border: 1px solid #e1e1e1;
}
.interactive-box p{
    position:absolute;
    transition: opacity .5s;
    background-color: whitesmoke;
    opacity: 0;
    padding: 30px;
    bottom: 4px;
    width: 93%;
}
.interactive-box:hover p{
    opacity: 1;
}
.navbar-nav > li > .dropdown-menu{
  width:600%;
}
.sub-services a {
  padding: 30px !important;
}
.dropdown-menu > li > a {
  color: gray;

}
.sub-services a:hover {
  color: #6b8d98  !important;
}
.sub-services.active a:hover {
  color: #fff  !important;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #6b8d98 ;
}
#harmonyQMS a{
  background-image: url('../images/harmony_logo_200.png') !important;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
#webID a{
  background-image: url('../images/services_icons.png');
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
#softID a{
  background-image: url('../images/services_icons.png');
  background-repeat: no-repeat;
  background-position: 100% 33%;
}
#desID a{
  background-image: url('../images/services_icons.png');
  background-repeat: no-repeat;
  background-position: 100% 70%;
}
#consID a{
  background-image: url('../images/services_icons.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.dropdown-menu > .active > a{
  background-image: url('../images/services_icons_white.png') !important;

}
